@{
    this.ViewData["Title"] = "News";
}
<div>
   <h1 style="border: 10px outset; border-color:navajowhite;background-color:aquamarine; text-align: center;">
       Currently this page is under construction.
       <br />
       For more information visit the Info page. 
   </h1>
   
</div>


