@model GalaxyConquest.Web.ViewModels.Home.RankingViewModel
@{
    this.ViewData["Title"] = "Rank List";
}

<div style="background-color:indianred">
    <h1>Ranking page for all users!</h1>
    <div class="row justify-content-center">
        <table class="table table-bordered table-hover table-responsive-md table table-striped col-md-6 table-primary">
            <thead>
                <tr>
                    <th scope="col">
                        <span class="fas fa-trophy"> Rank</span>
                        <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="
                              Place at the ranking list. Where #1 is the user with moste earned points by completing quizz's"
                             </span>
                    </th>
                    <th scope="col">
                        <span class="fas fa-user-circle">
                            Username
                            <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="
                             Name of the user that earned Quizz points."
                             </span>
                        </span>
                    </th>
                    <th scope="col">
                        <span class="fas fa-star">
                            Points
                            <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="
                              Total points earned from the user, by completeing Quizz."
                             </span>
                        </span>
                    </th>
                    <th scope="col">
                        <span class="fas fa-atom"> QuizzTaken</span>
                        <span class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="
                              Number of the quizzes that user have completed."
                             </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>@Model.Username</td>
                    <td>@Model.Points</td>
                    <td>@Model.QuizzTaken</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>145</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>142</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Nasko</td>
                    <td>137</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Pesho</td>
                    <td>136</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>