@{
    this.ViewData["Title"] = "Support Us";
}
<body>
    <div class="container-fluid position-fixed text-center">
        <img src="~/Assets/Pictures/MoneyInAJar.gif" alt="moneInAJar" width="800" height="400"/>
    </div>
    
    @*<div style="background-image: url('/Assets/Pictures/MoneyInAJar.gif')">
        <h1>Support us page!</h1>
        <div style="background-image:url(/wwwroot//Assets//Pictures//MoneyInAJar.gif); height:1000px;"></div>
    </div>*@
</body>

